@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Varela Round', Arial, sans-serif;
}

input[type=checkbox] {
  vertical-align: middle;
  margin: .5em
}

div.g-recaptcha {
  width: 304px;
  height: 78px;
  margin: 0 auto;
}

.table-row {
  display: table-row;
}

.table-cell,
.pure-form-stacked label.table-cell {
  display: table-cell;
}

label[for=legal] {
  text-align: left;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
select {
  background: transparent;
}
