# ESLint-specific files
node_modules/
package.json
.eslintrc.json
yarn-error.log
yarn.lock

# editor files
.vscode/

# Jekyll files
_site/
.sass-cache
.jekyll-metadata
.jekyll-cache
Gemfile.lock
.env
_config_dev.yml
