---
layout: default
title: jonas.ee - This domain is for sale
libs: [ "purecss", "pageclip" ]
---

<div id="root" class="fill-height">

  <div id="main">

    <div class="segment content-container">
      <header>
        <h3 class="title"><span class="badge">This Domain is for Sale.</span></h3>
        <h4 class="comment normalize">Make an offer by entering your contact details</h4>
      </header>
    </div>

    <div class="separator"></div>

    <div class="segment content-container">
      {% include forms/offer.html pageclip_form="offer" %}
    </div>

  </div>

  {% include footer.html %}

</div>
