# BEGIN 000webhost.com
# HTID:12156312: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:12156312:
# END 000webhost.com

RewriteEngine on

# Remove trailing slashes from routes
# that are not directories.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R,L]

# PHP scripts are only accessible via POST.
RewriteCond %{REQUEST_METHOD} !POST
RewriteRule \.php$ - [R=404]

# With POST requests, any route that does not
# contain a dot is interpreted as a PHP script.
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^([^\.]+)$ $1.php

# Other routes without a dot are interpreted as HTML files.
RewriteRule ^([^\.\/]+)$ $1.html


# Redirect /jonasee.000webhost.com/privacy /jonasee.000webhost.com/privacy-policy
# Redirect /jonasee.000webhost.com/privacy-policy /jonasee.000webhost.com/legal#privacy-policy

# Redirect /jonasee.000webhost.com/terms /jonasee.000webhost.com/terms-of-use
# Redirect /jonasee.000webhost.com/terms-of-use /jonasee.000webhost.com/legal#terms-of-use
