/* Make the document fill the entire viewport. */
html, body { height: 100%; }

/* The root container gets a shadow to the left and right. */
#root {
  margin: 0 6vw;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
  position: relative;
}

/* Make sure there's sufficient padding at the top and bottom. */
#main {
  padding: 2em 0;
}

header {
  cursor: default;
}

header > h3,
header > h4 {
  text-align: center;
  line-height: 1.2;
}

header > .normalize {
  font-weight: normal;
  margin: 0;
}

header > .title {
  margin-bottom: 2em;
  white-space: nowrap;
}

header > .title span.badge {
  background-color: #f5f5bb;
  padding: .6em;
  border-radius: .25em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
}

header > .comment {
  padding: 0 2em;
}

#main .separator {
  margin-top: .5em;
  margin-bottom: .5em;
}

.content-container {
  max-width: 18em;
  margin: 0 auto;
}


/* -- Offer form styling. -- */

/* Spans should have a similar margin as labels. */
form span { margin-top: .5em; }

/* Fix the font-size of autocomplete preview text. */
input:-webkit-autofill::first-line {
  font-size: 16px;
}

/* Disable PureCSS's resize behaviour. */
input[type=number]#offer {
  margin-bottom: 0;
}

textarea {
  height: 5.5em;
  min-height: 5.5em;
  max-height: 40vh;
}

form{
  margin: 0 auto; /* Center. */
}

form button[type=submit].pure-button-primary {
  margin: 0 auto; /* Center. */
  display: block;
}

form#offer-form input:disabled {
  background-color: hsl(0, 0%, 99%);
}

/* Hack: Shift the loading spinner up a little bit to make it centered. */
.pageclip-form__submit:after {
  top: 40%
}

#template-pageclip-form__success__message {
  display: none;
}

div.pageclip-form__success {
  justify-content: flex-start;
  background: hsla(0, 0%, 100%, 1);
}

div.pageclip-form__success__message {
  font-size: inherit;
  line-height: 1;
  padding: 1em 0;
}
